<h2>{{ "Title: " + getTitle() }}</h2>

<ul>
  <li *ngFor="let course of courses">
    {{ course }}
  </li>
</ul>
<p>
  Next elements demonstrate using bootstrap.css, class binding & style binding.
</p>
<button class="btn btn-primary" [class.active]="isActive">
  Class Binding
</button>
<p></p>
<button [style.backgroundColor]="isActive ? 'blue' : 'white'">
  Style Binding
</button>
<p></p>
<p>The interactive elements below write to the console.</p>
<div (click)="onClickDiv()">
  <button
    [style.backgroundColor]="isActive ? 'yellow' : 'white'"
    (click)="onEventBindingClick()"
  >
    Event Bubbling Demo
  </button>
</div>
<p></p>
<div (click)="onClickDiv()">
  <button
    [style.backgroundColor]="isActive ? 'yellow' : 'white'"
    (click)="onEventObjectAccess($event)"
  >
    Stop Event Bubbling Demo
  </button>
</div>
<p></p>
<button
  [style.backgroundColor]="isActive ? 'pink' : 'yellow'"
  (click)="onEventBindingClick()"
>
  Event Binding
</button>
<p></p>
<button
  [style.backgroundColor]="isActive ? 'green' : 'red'"
  (click)="onEventObjectAccess($event)"
>
  Event Object Access
</button>
<p></p>
Traditional JS keyup event handling for "Enter" key:
<div>
  <input (keyup)="onKeyUpVanilla($event)" />
</div>
<p></p>
Event Filtering via Angular. keyup event handling for "Enter" key in a
traditional manor:
<div>
  <input (keyup.enter)="onKeyUpAngularEventFilter()" />
</div>
<p></p>
Pass $event object to access value:
<div>
  <input (keyup.enter)="dollarEventObject($event)" />
</div>
<p></p>
Template Variable passed to handling method instead of $event object.
<div>
  <input #email (keyup.enter)="templateVariable(email.value)" />
</div>
<p></p>
Two-way binding
<div class="container-fluid">
  Verbose:
  <input
    [(value)]="twoWayBound"
    (keyup.enter)="twoWayBound = $event.target.value; twoWayBindingMethod()"
  />
  <p></p>
  Use ngModel Directive:
  <!-- 
    Can't bind to 'ngModel' since it isn't a known property of 'input'.
    ngModel is in forms module. forms module is not automatically imported.
    
    Need to import the FormsModule from @angular/forms and add it to the imports
      section in app.modules.ts.
  -->
  <input [(ngModel)]="twoWayBound" (keyup.enter)="twoWayBindingMethod()" />
  <p></p>
</div>
<h2>Pipes| | | |</h2>
course object properties: title, rating, students, price, releaseDate

<section class="container">
  Search angular.io to get information about each pipe:
  <div class="container">
    https://angular.io/api/common/DecimalPipe<br />
    https://angular.io/api/common/DatePipe
  </div>
  <p></p>
  <p>
    Title: '{{ course.title }}'<br />
    course.title | uppercase = '
    {{ course.title | uppercase }}'<br />
    course.title | lowercase = '
    {{ course.title | lowercase }}'<br />
    course.title | lowercase | uppercase = '
    {{ course.title | lowercase | uppercase }}'
  </p>
  <p>
    students: '{{ course.students }}'<br />
    course.students | number = '
    {{ course.students | number }}'
  </p>
  <p>
    rating: '{{ course.rating }}'<br />
    course.rating | number: '2.1-1' = '
    {{ course.rating | number: "2.1-1" }}'<br />
    course.rating | number: '3.2-2' = '
    {{ course.rating | number: "3.2-2" }}'<br />
    course.rating | number: '3.1-6' = '
    {{ course.rating | number: "3.1-6" }}'
  </p>
  <p>
    Warning: the currency pipe has been changed in Angular v5. The symbolDisplay
    option (third parameter) is now a string instead of a boolean. The accepted
    values are "code", "symbol" or "symbol-narrow". <br />
    price: '{{ course.price }}'<br />
    course.price | currency = '
    {{ course.price | currency }}'
    <br />
    course.price | currency:'AUD':'symbol':'3.2-2' = '
    {{ course.price | currency: "AUD":"symbol":"3.2-2" }}'
    <br />
    course.price | currency:'AUD':'symbol-narrow':'3.2-2' = '
    {{ course.price | currency: "AUD":"symbol-narrow":"3.2-2" }}'
    <br />
    course.price | currency:'USD':'code':'1.0-0' = '
    {{ course.price | currency: "USD":"code":"1.0-0" }}'
    <br />
    course.price | currency:'USD':'symbol-narrow':'1.1-1' = '
    {{ course.price | currency: "USD":"symbol-narrow":"1.1-1" }}'
  </p>
  <p>
    releaseDate: '{{ course.releaseDate }}'
    <br />
    course.releaseDate | date:"shortDate" = '
    {{ course.releaseDate | date: "shortDate" }}'
    <br />
    course.releaseDate | date:"short" = '
    {{ course.releaseDate | date: "short" }}'
    <br />
    course.releaseDate | date:"medium" = '
    {{ course.releaseDate | date: "medium" }}'
    <br />
    course.releaseDate | date:"fullDate" = '
    {{ course.releaseDate | date: "fullDate" }}'
  </p>
</section>

<h2>Custom Pipes | | | |</h2>
Custom pipe to truncate a string when passed the text string and optionally a
length number parameters
<p></p>
<section class="container">
  textParagraph (component string field) value:
  <div class="container">"{{ textParagraph }}"</div>
</section>
<p></p>
<section class="container">
  textParagraph | truncate :
  <div class="container">"{{ textParagraph | truncate }}"</div>
</section>
<p></p>
<section class="container">
  textParagraph | truncate:5 :
  <div class="container">"{{ textParagraph | truncate: 5 }}"</div>
</section>
