<h2>{{ "Title: " + getTitle() }}</h2>

<ul>
  <li *ngFor="let course of courses">
    {{ course }}
  </li>
</ul>
<p>
  Next elements demonstrate using bootstrap.css, class binding & style binding.
</p>
<button class="btn btn-primary" [class.active]="isActive">
  Class Binding
</button>
<p></p>
<button [style.backgroundColor]="isActive ? 'blue' : 'white'">
  Style Binding
</button>
<p></p>
<p>The interactive elements below write to the console.</p>
<div (click)="onClickDiv()">
  <button
    [style.backgroundColor]="isActive ? 'yellow' : 'white'"
    (click)="onEventBindingClick()"
  >
    Event Bubbling Demo
  </button>
</div>
<p></p>
<div (click)="onClickDiv()">
  <button
    [style.backgroundColor]="isActive ? 'yellow' : 'white'"
    (click)="onEventObjectAccess($event)"
  >
    Stop Event Bubbling Demo
  </button>
</div>
<p></p>
<button
  [style.backgroundColor]="isActive ? 'pink' : 'yellow'"
  (click)="onEventBindingClick()"
>
  Event Binding
</button>
<p></p>
<button
  [style.backgroundColor]="isActive ? 'green' : 'red'"
  (click)="onEventObjectAccess($event)"
>
  Event Object Access
</button>
<p></p>
Traditional JS keyup event handling for "Enter" key:
<div>
  <input (keyup)="onKeyUpVanilla($event)" />
</div>
<p></p>
Event Filtering via Angular. keyup event handling for "Enter" key in a
traditional manor:
<div>
  <input (keyup.enter)="onKeyUpAngularEventFilter()" />
</div>
<p></p>
Pass $event object to access value:
<div>
  <input (keyup.enter)="dollarEventObject($event)" />
</div>
<p></p>
Template Variable passed to handling method instead of $event object.
<div>
  <input #email (keyup.enter)="templateVariable(email.value)" />
</div>
